.action-bar-frame {
    overflow-x: auto;
    padding: 20px;
    height: 150px;
    display: grid;
    grid-template-columns: 1fr 1fr auto;
}

.button-control-frame {
    justify-self: center;
    align-self: center;
}

.dpad-button {
    border-radius: 100%;
    position: absolute;
    height: 50px;
    width: 50px;
    cursor: pointer;
}

.top-button {
    transform: translate(-50%, -140%);
}

.right-button {
    transform: translate(40%, -50%);
}

.bottom-button {
    transform: translate(-50%, 40%);
}

.left-button {
    transform: translate(-140%, -50%);
}

#escapeButton {
    justify-self: center;
    align-self: center;
    height: 60px;
    border-radius: 10px;
}

#respawnButton {
    grid-column: span 2;
    justify-self: center;
    align-self: center;
    height: 60px;
    border-radius: 10px;
}

.action-bonus-ring {
    border: 5px solid magenta;
    transition: .15s linear transform, .15s linear opacity;
    width: 150px;
    height: 150px;
    border-radius: 100%;
    position: absolute;
    opacity: 0;
    transform: translate(-50%, -50%) scale(0,0);
}

.target-button-frame {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;
}

.target-button {
    border-radius: 100%;
    cursor: pointer;
}