@attribute [Authorize]
@inherits AuthComponentBase
@using Radial.Data.Entities
@using Radial.Services
@using Radial.Services.Client
@inject IMessagePublisher MessagePublisher
@inject IDataService DataService
@inject IClientConnection ClientConnection

<div class="resource-bars-container mx-4">
    <div class="text-center">
        <strong class="d-block">Energy</strong>
        <div class="progress">
            <div id="energy-bar" class="progress-bar" style="width: @(GetFormattedPercent(CharacterInfo?.EnergyPercent)); overflow: visible;"></div>
        </div>
        <div class="text-white resource-bar-label">
            @(CharacterInfo?.EnergyCurrent ?? 0)
        </div>
    </div>
    <div class="text-center">
        <strong class="d-block">Charge</strong>
        <div class="progress">
            <div id="charge-bar" class="progress-bar" style="width: @(GetFormattedPercent(CharacterInfo?.ChargePercent)); overflow: visible;"></div>
        </div>
        <div class="text-white resource-bar-label">
            @(CharacterInfo?.ChargeCurrent ?? 0)
        </div>
    </div>
</div>

@code {

    private CharacterInfo CharacterInfo { get; set; }

    private string GetFormattedPercent(double? percent)
    {
        if (!percent.HasValue)
        {
            return "0%";
        }

        return Math.Round(percent.Value * 100).ToString() + "%";
    }

    protected override async Task OnInitializedAsync()
    {
        CharacterInfo = await DataService.GetCharacterInfo(User.Id);
        await base.OnInitializedAsync();
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            MessagePublisher.CharacterStatsChanged += async (sender, args) =>
            {
                await InvokeAsync(StateHasChanged);
            };
        }
        await base.OnAfterRenderAsync(firstRender);
    }
}
