@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');

html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

a, .btn-link {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.content {
    padding-top: 1.1rem;
}

.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}

.invalid {
    outline: 1px solid red;
}

.validation-message {
    color: red;
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }


/* Nav Menu */
.brand-image {
    height: 1.5em;
    background-color: white;
    padding: 5px;
    border-radius: 5px;
    margin-right: 5px;
}

/* Chat */
.chat-button {
    height: 40px;
    width: 40px;
    position: fixed;
    top: 40%;
    right: 5px;
    z-index: 2;
    border-radius: 100%;
    border: 1px solid black;
    background-color: rebeccapurple;
    color: white;
    transition: .5s linear background-color;
}
    .chat-button:hover {
        background-color: mediumpurple;
        transition: .25s linear background-color;
    }
    .chat-button:focus {
        outline: none;
    }

.chat-frame {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    width: 0;
    opacity: 0;
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-row-gap: 10px;
    z-index: 3;
    border: 1px solid gray;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background-color: rgba(245,245,245,0.9);
    transition: .25s linear all;
    pointer-events: none;
}

    .chat-frame.open {
        width: 400px;
        max-width: 80%;
        opacity: 1;
        transition: .25s linear all;
        pointer-events: unset;
    }

    .chat-frame .chat-message-window {
        background-color: white;
        overflow-y: auto;
    }

.chat-bubble-frame {
    margin-right: 30px;
    margin-left: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
}

    .chat-bubble-frame.self {
        margin-right: 5px;
        margin-left: 30px;
    }

.chat-timestamp {
    color: gray;
}

.chat-bubble-frame .chat-bubble {
    border-radius: .4em;
    padding: 10px;
}
    .chat-bubble-frame.global .chat-bubble {
        background-color: lightskyblue;
    }
    .chat-bubble-frame.party .chat-bubble {
        background-color: magenta;
    }
    .chat-bubble-frame.local .chat-bubble {
        background-color: darkkhaki;
    }
    .chat-bubble-frame.system .chat-bubble {
        background-color: palevioletred;
    }
    .chat-bubble-frame.private .chat-bubble {
        background-color: lightgray;
    }
    .chat-bubble-frame.self .chat-bubble {
        background-color: lightgreen;
    }

#missed-chat-badge {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 50%);
}

/* Explore */
.explore-container {
    display: grid;
    grid-template-rows: 1fr auto auto;
    grid-row-gap: 10px;
}

.auto-height {
    opacity: 0;
}