@page "/builder"
@attribute [Authorize]
@inject IMessagePublisher MessagePublisher
@inject IJsInterop JsInterop
@inject IClientConnection ClientConnection
@inject IModalService ModalService
@inherits AuthComponentBase


<h3 class="mb-3">Builder</h3>

<h4 class="mt-5 text-info">
    This will eventually be a place where you can create your own areas, NPCs, objects, and scripts.
</h4>

@code {

}
