@page "/character"
@attribute [Authorize]
@using Radial.Services.Client
@using Radial.Components
@inject IMessagePublisher MessagePublisher
@inject IJsInterop JsInterop
@inherits AuthComponentBase


<h3>Character</h3>

@code {

}
