.attribute-grid {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-auto-rows: auto;
    grid-row-gap: 20px;
    grid-column-gap: 10px;
}

    .attribute-grid > :nth-child(odd) {
        align-self: center;
    }

    .attribute-grid .input-group-prepend {
        cursor: pointer;
    }

    .attribute-grid .input-group-append {
        cursor: pointer;
    }

.help-button {
    cursor: pointer;
}

.attribute-input {
    width: 300px;
}