#attributesGrid {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-auto-rows: auto;
    grid-row-gap: 20px;
    grid-column-gap: 10px;
}

#attributesGrid > :nth-child(odd) {
    align-self: center;
}

.help-button {
    cursor: pointer;
}

.attribute-input {
    width: 300px;
}

#attributesGrid .input-group-prepend {
    cursor: pointer;
}

#attributesGrid .input-group-append {
    cursor: pointer;
}