@page "/editor"
@attribute [Authorize]
@inject IMessagePublisher MessagePublisher
@inject IJsInterop JsInterop
@inject IClientConnection ClientConnection
@inject IModalService ModalService
@inherits AuthComponentBase


<h3 class="mb-3">Editor</h3>


@code {

}
