.explore-container {
    display: grid;
    grid-template-rows: 1fr auto 1fr auto auto;
    grid-row-gap: 10px;
}

.location-grid :last-child {
    text-align: right;
}

.nearby-character {
    cursor: pointer;
}

.horizontal-bar {
    height: 2px;
    background-color: white;
    border-radius: 100%;
}