@page "/explore"
@attribute [Authorize]
@using Radial.Data.Entities
@using Radial.Services.Client
@using Microsoft.AspNetCore.Identity
@inject IMessagePublisher MessagePublisher
@inject IJsInterop JsInterop
@inherits AuthComponentBase

<div class="explore-container auto-height">
    <div style="align-self: baseline">
       
    </div>

    <div class="p-2">
       
    </div>

    <div class="mb-2">
       <ResourceBars />
    </div>
</div>

@code {

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await base.OnAfterRenderAsync(firstRender);
        if (firstRender)
        {
            JsInterop.AutoHeight();
            StateHasChanged();
        }
    }

} 