@page "/party"
@attribute [Authorize]
@using Radial.Services.Client
@using Radial.Components
@inject IMessagePublisher MessagePublisher
@inject IJsInterop JsInterop
@inherits AuthComponentBase

<h3>Party</h3>

@code {

}
