@using Radial.Components
@using Radial.Components.Modals 
@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <AuthorizeView>
        <Authorized>
            <ChatFrame />
            <PowersMenu />
        </Authorized>
    </AuthorizeView>

    <div class="main">
        <div class="content px-4">
            @Body
        </div>
    </div>

    <ToastHarness />

    <ModalHarness />

</div>